/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .sliderImage {
    height: 500px;
  }

  .relax2 {
    z-index: -1;
    position: absolute;
    margin-top: -2%;
    margin-left: -20%;
    width: 470px;
  }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */

  .sliderImage {
    height: 500px;
  }

  .relax2 {
    z-index: -1;
    position: absolute;
    margin-top: -2%;
    margin-left: -20%;
    width: 470px;
  }
  .tt {
    width: 10rem;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .relax2 {
    z-index: -1;
    position: absolute;
    margin-top: -2%;
    margin-left: -33%;
    width: 208px;
  }
  .rooms-col2 {
    margin-top: 10%;
  }

  footer h5 {
    margin-top: 5%;
  }

  .director {
    margin-top: 10%;
  }
 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .relax2 {
    z-index: -1;
    position: absolute;
    margin-top: -2%;
    margin-left: -33%;
    width: 208px;
  }
  .rooms-col2 {
    margin-top: 10%;
  }

  footer h5 {
    margin-top: 5%;
  }

  .director {
    margin-top: 10%;
  }
  
}

label {
  font-weight: bold;
}

#booking-form {
  padding: 50px;
}

.checkout {
  width: 100%;
  padding: 10px;
}

.home-relax {
  padding: 80px;
}

.relax1,
.relax2 {
  border-radius: 10px;
  width: 480px;
  height: 400px;
}

figcaption {
  position: relative; /* Moves from Original Position */
  top: -50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
}

figure img {
  border-radius: 10px;
}

.home-rooms {
  padding: 70px;
  background: lightgray;
}

.roun {
  border-radius: 10px;
}

#discover-list {
  line-height: 2em;
}

.discover {
  padding: 70px;
}

.clients img {
  width: 200px;
}

.clients {
  padding: 50px;
}

footer {
  background: black;
  padding: 70px;
  color: white;
}

footer input {
  padding: 15px;
  width: 100%;
  background: transparent;
}
.breadcum {
  background-image: url("../images/banner.jpg");
  padding: 100px;
  background-position: top;
}

.directors img {
  width: 150px;
  border-radius: 50%;
}

.directors {
  padding: 100px;
  background-color: lightyellow;
}

.blog,
.contact {
  padding: 100px;
}

.gallery img {
  border-radius: 10px;
}

.about {
  font-family: Playwrite AU QLD, cursive;
  font-weight: bolder;
}
.ar {
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
  word-spacing: 10px;
}

.jj {
  width: 400px;
  height: 400px;
  border: 0px solid black;
  border-radius: 15px;
}
.tt {
  font-family: "Pacifico", cursive;
  font-weight: 600;
}

.team{
    text-shadow: 50px;
}

.grids-speci1{
    
    height: 250px;
    width: 290px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.carousel-caption{
  margin-bottom: 20px;
}

.ii{
  border: 2px solid black;
  height: 350px;
  width: 250px;
}

.gg{
  height: 300px;
  width: 450px;
}